<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("238bbd90-54cc-488e-851a-55f4d451170b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
